<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-wrapper flexcol">

		{{!-- Sheet Header --}}
		{{> "pbta.actor-header" }}

		<section class="sheet-top flexcol">
			{{#if isCharacter}}
			{{!-- Attributes --}}
			<section class="sheet-attributes flexrow">
				<div class="cell cell--image">
					<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
				</div>

				{{> "pbta.actor-stats" }}

			</section>
			{{/if}}

			<section class="sheet-attributes-top">
				{{~> "pbta.actor-attributes" attrs=system.attrTop group="attrTop" class="attributes-top flexrow" owner=owner editable=editable ~}}
			</section>
		</section>

		<section class="sheet-bottom flexrow">
			{{!-- Sidebar --}}
			{{#if (objLen system.attrLeft)}}
			<section class="sheet-look">
				<div class="cell cell--aesthetics">
					{{> "pbta.actor-attributes" attrs=system.attrLeft group="attrLeft" class="attributes-left" owner=owner editable=editable}}
				</div>
			</section>
			{{/if}}

			{{!-- Main --}}
			<section class="sheet-main">
				{{!-- Sheet Tab Navigation --}}
				<nav class="sheet-tabs tabs" data-group="primary">
					<a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
					{{#unless limited}}
					<a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
					<a class="item" data-tab="equipment">{{localize "PBTA.Equipment"}}</a>
					{{/unless}}
				</nav>

				{{!-- Sheet Body --}}
				<section class="sheet-body">
					{{!-- Main Tab --}}
					{{> "pbta.actor-description" }}

					{{!-- Moves Tab --}}
					{{> "pbta.actor-movelist" }}

					{{!-- Owned Equipment Tab --}}
					{{> "pbta.actor-inventory" }}

				</section>
			</section>
		</section>
	</div>
	</form>
