<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-wrapper">

		{{!-- Sheet Header --}}
		<header class="sheet-header">
			<div class="sheet-header__fields">
				<input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
				<span class="sheet-playbook">
				  <span class="view-playbook" data-playbook="{{system.playbook.uuid}}" title="{{localize 'PBTA.ViewPlaybook'}}">
					<i class="fas fa-eye"></i>
				  </span>
				  <select class="input--title charplaybook">
					{{selectOptions system.playbooks selected=system.playbook.uuid nameAttr="uuid" labelAttr="name" blank=""}}
				  </select>
				</span>
			</div>
		</header>

		<section class="sheet-top">
		  {{!-- Attributes --}}
		  <section class="sheet-attributes">

			<div class="cell cell--image">
			  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
			</div>

			{{> "pbta.actor-stats" }}

		  </section>

		  <section class="sheet-attributes-top">
			{{~> "pbta.actor-attributes" attrs=system.attrTop group="attrTop" class="attributes-top" owner=owner editable=editable~}}
		  </section>
		</section>

		<section class="sheet-bottom">
		  {{!-- Sidebar --}}
		  {{#if (objLen system.attrLeft)}}
		  <section class="sheet-look">
			<div class="cell cell--aesthetics">
			  {{> "pbta.actor-attributes" attrs=system.attrLeft group="attrLeft" class="attributes-left" owner=owner editable=editable}}
			</div>

			{{!-- TODO: Re-enable the look toggle later --}}
			{{!-- <button type="button" class="toggle toggle--look"><i class="fas fa-chevron-left"></i></button> --}}
		  </section>
		  {{/if}}

		  {{!-- Main --}}
		  <section class="sheet-main">

			{{!-- Sheet Tab Navigation --}}
			<nav class="sheet-tabs tabs" data-group="primary">
				<a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
				<a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
				<a class="item" data-tab="equipment">{{localize "PBTA.Equipment"}}</a>
			</nav>

			{{!-- Sheet Body --}}
			<section class="sheet-body">

				{{!-- Main Tab --}}
				{{> "pbta.actor-description" }}

				{{!-- Moves Tab --}}
				{{> "pbta.actor-movelist" }}

				{{!-- Owned Equipment Tab --}}
				{{> "pbta.actor-inventory" }}

			</section>
		  </section>
		</section>


	</div>
  </form>
