<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="cell cell--image">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      </div>
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </div>
    </header>

    {{!-- Main --}}
    <section class="sheet-main sheet-main--npc">

      {{#if (objLen system.attrTop)}}
        <section class="sheet-attributes-top">
          {{> "pbta.actor-attributes" attrs=system.attrTop group="attrTop" class="attributes-top"}}
        </section>
      {{/if}}

      {{#if (objLen system.attrLeft)}}
        <section class="sheet-attributes-left">
          <div class="cell cell--aesthetics">
            {{> "pbta.actor-attributes" attrs=system.attrLeft group="attrLeft" class="attributes-left"}}
          </div>
        </section>
      {{/if}}

      {{!-- Sheet Body --}}
      <section class="sheet-body">

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
          <a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
          <a class="item" data-tab="equipment">{{localize "PBTA.Equipment"}}</a>
        </nav>

        <div class="sheet-tabs-content">
          {{!-- Main Tab --}}
          {{> "pbta.actor-description" }}

          {{!-- Moves Tab --}}
          {{> "pbta.actor-movelist" }}

          {{!-- Owned Equipment Tab --}}
          {{> "pbta.actor-inventory" }}
        </div>


      </section>

    </section>

  </div>

</form>