.sheet-resources {
  display: grid;
  grid-column: span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  gap: 16px;
  margin: 0 0 10px 0;
  padding: 0;

  .cell {
    text-align: center;

    > .cell__title {
      justify-content: center;

      .fas {
        margin-right: 5px;

        &.attribute-icon {
          margin-right: 0;
        }
      }
    }
  }

  .cell {
    padding: 0;

    & + .cell {
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -9px;
        bottom: 0;
        width: 2px;
        background: $ct-gray;
        padding-right: 0;
      }
    }
  }

  select,
  input,
  textarea {
    background: $c-white;
  }

  input {
    font-size: 18px;
  }

  .cell__title {
    position: relative;
    margin-top: 0;

    .attribute-icon {
      position: absolute;
      top: 0;
      right: 2px;
      bottom: 0;
      text-align: center;
      margin: 0;
      font-size: 30px;
      z-index: 0;
      opacity: 0.25;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .cell__counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cell--ongoing,
  .cell--forward,
  .cell--roll-formula {
    grid-column: span 3;

    input {
      background-color: $ct-gray;
      margin: 0;
      display: block;
      width: 100%;
    }

    .cell__wrapper {
      position: relative;
      width: 100%;
    }

    .resource-control {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 16px;
      height: 16px;
      padding: 0;
      line-height: 1;
      text-align: center;
      margin: auto;
      border: 1px solid #bcc8de;
    }

    .resource-decrease {
      left: 5px;
    }

    .resource-increase {
      right: 5px;
    }
  }

  .cell--roll-mode {
    grid-column: span 3;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    align-items: center;

    .cell__title {
      flex: auto;
      margin-top: 4px;
    }

    label.checkbox {
      height: auto;
      font-size: 14px;
    }
  }
}

.sheet-resources {
  grid-template-columns: repeat(3, minmax(0, 1fr));

  .cell--ongoing,
  .cell--forward,
  .cell--roll-formula {
    grid-column: span 1;
  }
}
