.sheet-resources {
  gap: 16px;

  .cell {
    text-align: center;

    > .cell__title {
      justify-content: center;
    }
  }

  .cell {
    padding: 0;

    & + .cell:not(.cell--roll-mode) {
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -9px;
        bottom: 0;
        width: 2px;
        background: $ct-gray;
        padding-right: 0;
      }
    }
  }

  select,
  input,
  textarea {
    background: $c-white;
  }

  input {
    font-size: 18px;
  }

  .cell__title {
    margin-top: 0;
  }

  .cell__counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cell--ongoing,
  .cell--forward,
  .cell--roll-formula {
    input {
      background-color: $ct-gray;
      margin: 0;
      display: block;
      width: 100%;
    }

    .cell__wrapper {
      position: relative;
      width: 100%;
    }

    .resource-control {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 16px;
      height: 16px;
      padding: 0;
      line-height: 1;
      text-align: center;
      margin: auto;
      border: 1px solid #bcc8de;
    }

    .resource-decrease {
      left: 5px;
    }

    .resource-increase {
      right: 5px;
    }
  }

  .cell--roll-mode {
    flex-basis: 100%;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .cell__title {
      grid-column: span 3;
      margin-top: 4px;
    }

    label.checkbox {
      font-size: 14px;
    }
  }
}
