.sheet-header {
  h1 {
    flex: 2;
  }

  input, select.charplaybook {
    height: 32px;
    line-height: 32px;
  }

  select.charplaybook {

    &:has(option[value=""]:checked) {
      color: $c-gray-silver;

      option {
        &:not([value=""]) {
          color: fieldtext;
        }
      }
    }

    option {
      background: $c-white;

      &[value=""] {
        color: $c-gray-silver;
      }
    }
  }

  .flex-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-right: 48px;
    margin-right: 10px;
    text-align: right;

    label {
      flex: 1;
      font-size: var(--font-size-18);
    }

    input {
      // color: $c-navy;
      // background: $c-white;
      border: 0;
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      font-size: var(--font-size-18);
      line-height: 18px;

      // &:hover,
      // &:focus {
      //   box-shadow: 0 0 12px $c-navy-up;
      //   border: 2px solid $c-navy-up;
      // }
    }

    &.flex-item--xp {
      position: relative;

      input {
        border: 2px solid $c-navy-up;
      }

      .progress-ring {
        position: absolute;
        right: 0;
        pointer-events: none;

        circle {
          stroke: $c-green;
        }
      }
    }

    &.flex-item--level-up {
      flex: 0 0 44px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      a {
        color: $c-white;

        &.disabled-level-up {
          cursor: inherit;
          pointer-events: none;
          opacity: 0.25;
          text-shadow: none !important;
        }

        &:hover {
          text-shadow: 0 0 12px $c-navy-up;
        }
      }

      .fas {
        font-size: 32px;
        text-align: center;
      }
    }
  }
}

.sheet-header__fields {
  column-gap: 10px;

  .sheet-playbook {
    .view-playbook,
    [data-action="advancement"] {
      flex: 0 0 auto;
      border-radius: 4px 0 0 4px;
      margin-right: 0;
      overflow: hidden;
      background: $c-gray;
      color: $c-white;
      width: 32px;
      height: 32px;
      line-height: 2.3;
      text-align: center;
      opacity: 0.5;
      transition: all ease-in-out 0.25s;

      &.active {
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      i {
        vertical-align: middle;
      }
    }

    .charplaybook {
      width: 100%;
      border-left: none;
      border-right: none;
      // border-radius: 0 4px 4px 0;
    }

    .advancement {
      flex: 0 0 auto;
      width: 32px;
      border-radius: 0;
      text-align: center;

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}