&.npc {
  .cell--image {
    flex: 0 0 80px;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.25);

    img {
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }

  .sheet-attributes {
    display: grid;
    grid-column: span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0px 16px;
    margin: 0 0 16px 0;
    padding: 0;

    .cell--ac,
    .cell--hp {
      grid-column: span 1;
    }

    .cell--tags {
      grid-column: span 4;
    }

    .cell--damage {
      grid-column: span 2;

      input + input {
        margin-left: 5px;
      }
    }
  }

  .sheet-wrapper {
    .sheet-header {
      background: rgba(0,0,0,0.5);
    }
  }

  .sheet-header__fields {
    display: flex;
    padding: 0 16px;
  }

  .sheet-attributes-top {
    .cell--attributes-top {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0px 16px;
      margin: 0 0 16px 0;

      .cell {
        grid-column: span 1;
      }
    }
  }

  .sheet-attributes-left {
    flex: 0 0 32%;
    margin-right: 16px;
  }

  .help-text {
    margin-left: 5px;
  }

  .tagify {
    width: 100%;
    text-align: left;
    background: $c-white;
  }

  .sheet-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .sheet-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0;
    height: auto;

    .sheet-body {
      flex: 1;
    }

    .editor {
      height: calc(100% - 34px - 73px);
      background: $ct-gray;
      padding: 4px;
      border-radius: 4px;
    }
  }
}