&.npc {
  .sheet-wrapper {
    .sheet-top {
      // For some reason it grows bigger than the Character sheet because it has no Stats.
      // The actual fix would be to remove the "height: 100%" .sheet-wrapper, but it breaks editors
      max-height: 139px;

      &:has(> .sheet-attributes-top:empty) {
        display: none;
      }

      .sheet-attributes-top {
        &:empty {
          display: none;
        }
      }
    }
  }

  .help-text {
    margin-left: 5px;
  }

  .tagify {
    width: 100%;
    text-align: left;
    background: $c-white;
  }
}