&.npc {
  .sheet-wrapper {
    .sheet-header {
      column-gap: 10px;

      .cell--image {
        flex: 0 0 80px;
      }
    }
    .sheet-top {
      // For some reason it grows bigger than Character sheet since it has no Stats.
      // The actual fix would be to remove the "height: 100%" .sheet-wrapper, but it breaks editors
      max-height: 139px;
    }
  }

  .help-text {
    margin-left: 5px;
  }

  .tagify {
    width: 100%;
    text-align: left;
    background: $c-white;
  }
}