&.npc {
  .sheet-wrapper {
    .sheet-top {
      &:has(> .sheet-attributes-top:empty) {
        display: none;
      }

      .sheet-attributes-top {
        &:empty {
          display: none;
        }
      }
    }
  }

  .help-text {
    margin-left: 5px;
  }

  .tagify {
    width: 100%;
    text-align: left;
    background: $c-white;
  }
}