&.playbook {
	.attribute-set {
		&[data-type="ListMany"],
		&[data-type="ListOne"] {
			.form-group {
				.item-controls {
					flex: 0 0 100%;
				}
			}
		}
	}

	.choiceset {
		.drop-zone {
			text-align: center;
		}

		&:nth-child(even of .choiceset) {
			background-color: rgba(188, 188, 188, 0.4);
		}
	}

	ol {
		&.attributes,
		&.choicesets {
			list-style-type: none;
		}
	}
}