&.playbook {
	.attribute-set {
		&[data-type="ListMany"],
		&[data-type="ListOne"] {
			.form-group {
				.item-controls {
					flex: 0 0 100%;
				}
			}
		}
	}

	.choiceset {
		margin: 0;
		padding: 0.25em 0.5em;

		.items-field,
		.drop-zone {
			text-align: center;
		}

		&:nth-child(1 of .choiceset) {
			padding-top: 0;
			border-radius: 5px;
		}

		&:nth-child(even of .choiceset) {
			background-color: rgba(188, 188, 188, 0.4);
		}

		.grant-on-form,
		.choiceset-item {
			input[type="number"] {
				text-align: center;
				width: 32px;
				flex: 0 0 auto;
			}

			.item {
				flex: 2;
			}
		}
	}

	h1 {
		margin: 0;
	}

	ol {
		&.attributes,
		&.choicesets {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}

	footer {
		button {
			width: auto;
			background: $c-white;
			border: 1px solid $c-black;
			line-height: 1;

			&:hover,
			&:focus {
			background-color: $c-black;
			color: $c-white;
			}
		}
	}
}