// #pbta-sheet-config {
//   form {
//     height: 100%;
//   }

//   .sheet-config-editor {
//     height: calc(100% - 60px);
//   }

//   .CodeMirror {
//     height: 100%;
//   }
// }

.pbta-sheet-config-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  .notes {
    flex: 0;
  }

  button[name="help"] {
    max-width: 250px;
    margin: 5px auto 20px;
    display: block;
  }
}

.pbta-sheet-config-editor {
  flex: 1;
  margin-bottom: 8px;
  overflow: hidden;

  .CodeMirror {
    height: 100%;
    cursor: text;
  }

  .CodeMirror-scroll {
    width: 100%;
  }
}

.pbta-sheet-config {
  min-width: 720px;
  min-height: 700px;

  &.sheetOverriden {
    min-height: 230px;
  }
}

.pbta-confirm {
  .dialog-content {
    font-size: 16px;
  }
}

.pbta-changes {
  list-style: none;
  padding-left: 8px;
}
