.sheet-attributes {
  .cell--stats {
    .stats-list {
      align-items: stretch;
      gap: 10px 5px;
      justify-content: center;
      padding: 0;
    }

    .stat {
      background: $c-blue;
      color: $c-white;
      border-radius: 4px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      flex: 0 0 30%;
      transition: all ease-in-out 0.25s;

      &:hover {
        background: #6599ce;
      }

      .cell__title {
        width: 100%;
        min-width: 100%;
        color: $c-white;
        text-align: center;
        display: flex;
        font-size: 1.375rem;
        margin: 0 0 4px;
        line-height: 0.9;
        min-height: auto;
        height: auto;
        cursor: pointer;
        border: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $ct-white;
        column-gap: 2px;

        &:hover {
          cursor: pointer;
        }

        &::before,
        &::after {
          display: none;
        }
      }

      .stat-icon {
        color: $c-white;
        font-size: var(--font-size-18);
        height: 20px;
        width: 20px;

        img {
          border: 0;
        }
      }

      .stat-toggle {
        text-align: center;
      }

      .stat-value {
        padding: 2px 4px;
        background: $ct-gray-25;
        line-height: 1;

        &.max {
          color: #CD5C5C;
        }
      }

      .stat-value,
      .token-modif {
        flex: 0 0 48px;
        color: $c-white;
        text-align: center;
        font-size: 1.375rem;
        font-weight: bold;
        height: 28px;
      }

      .token-modif {
        cursor: pointer;
        border: 1px solid rgba(17,14,97,.25);
      }



      &.stat-shift {
        .select-holder {
          font-family: $font-stack-secondary;
          column-gap: 4px;

          select {
            font-weight: bold;
            color: $c-white;
            padding-left: 10px;
            max-width: calc(50% - 2px);

            &.up {
              background: url(/icons/svg/up.svg) no-repeat -10% rgba(0,0,0,.25);
              background-size: contain;
            }

            &.down {
              background: url(/icons/svg/down.svg) no-repeat -10% rgba(0,0,0,.25);
              background-size: contain;
            }

            option {
              color: fieldtext;
              background: $c-white;
            }
          }
        }
      }
    }
  }
}
