<form autocomplete="off" class="pbta-sheet-config-form">

  <p class="sheet-config-notes">{{{localize 'PBTA.Settings.sheetConfig.notes2'}}}</p>
  <p class="sheet-config-notes">{{{localize 'PBTA.Settings.sheetConfig.notes3'}}}</p>
  <button type="button" name="help">
    <i class="fas fa-question-circle"></i> {{localize "PBTA.Settings.button.help"}}
  </button>

  <section class="pbta-sheet-config-editor">
    <textarea name="tomlString" class="pbta-sheet-config">
    {{~" "}}{{{tomlString}}}{{" "~}}
    </textarea>
  </section>

  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i> {{localize 'PERMISSION.Submit'}}
    </button>

    <button type="button" name="reset">
      <i class="fas fa-sync"></i> {{localize 'PERMISSION.Reset'}}
    </button>
  </div>
</form>
