<div class="cell cell--{{class}}">
  {{#each attrs as |attr key|}}
    <div class="cell cell--{{key}}">
      <label for="data.{{../group}}.{{key}}.value" class="cell__title">{{attr.label}}</label>
      {{!-- Text area --}}
      {{#if (eq attr.type "LongText")}}
        <textarea class="textarea textarea--title" name="data.{{../group}}.{{key}}.value" rows="5">{{attr.value}}</textarea>
      {{!-- Checkbox --}}
      {{else if (eq attr.type "Checkbox")}}
        {{#if attr.checkboxLabel}}<label>{{/if}}
        <input type="checkbox" name="data.{{../group}}.{{key}}.value" {{checked attr.value}}/>
        {{#if attr.checkboxLabel}}{{attr.checkboxLabel}}</label>{{/if}}
      {{!-- Number --}}
      {{else if (eq attr.type "Number")}}
        <input type="text" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
      {{!-- Resource with value/max --}}
      {{else if (eq attr.type "Resource")}}
        <div class="cell__counter">
          <input type="text" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.{{../group}}.{{key}}.max" value="{{attr.max}}" data-dtype="Number"/>
        </div>
      {{!-- TODO: Replace this with stylized checkboxes per xp pip. --}}
      {{else if (eq attr.type "Xp")}}
        {{!-- <div class="cell__counter">
          <input type="text" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.{{../group}}.{{key}}.max" value="{{attr.max}}" data-dtype="Number"/>
        </div> --}}
        <div class="cell__clock">
          {{#if attr.steps}}
            {{#each attr.steps as |step stepKey|}}
              <input type="radio" class="attr-xp" data-name="data.{{../../group}}.{{key}}" data-step="{{stepKey}}" {{checked step}}>
            {{/each}}
          {{/if}}
        </div>
      {{!-- TODO: Replace this with checkboxes per clock pip. --}}
      {{else if (eq attr.type "Clock")}}
        <div class="cell__clock">
          {{#if attr.steps}}
            {{#each attr.steps as |step stepKey|}}
              <input type="checkbox" class="attr-clock" data-name="data.{{../../group}}.{{key}}" data-step="{{stepKey}}" {{checked step}}>
            {{/each}}
          {{/if}}
        </div>
      {{else if (eq attr.type "Roll")}}
        <div class="cell__roll">
          <span class="attr-icon attr-rollable rollable" data-roll="{{attr.value}}" data-label="{{attr.label}}"><i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i></span>
          <input type="text" class="input input--roll" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}"/>
        </div>
      {{!-- Fallback to a text field. --}}
      {{else}}
        <input type="text" class="input input--title" name="data.{{../group}}.{{key}}.value" value="{{attr.value}}"/>
      {{/if}}
    </div>
  {{/each}}
</div>