<div class="tab description" data-group="primary" data-tab="description">
	<div class="sheet-tab">
		{{#each system.details as |result key|}}
			<div class="cell cell--bio {{key}}">
				{{#if result.label}}<label class="cell__title">{{result.label}}</label>{{/if}}
				{{editor result.enriched target=(concat "system.details" key "value" join=".") button=true owner=../owner editable=../editable}}
			</div>
		{{/each}}
	</div>
</div>