<div class="tab description" data-group="primary" data-tab="description">
	<div class="sheet-tab">
	<div class="cell cell--bio">
		{{!-- We're avoiding WYSIWYGs... for now... --}}
		{{editor system.details.biography target="system.details.biography" button=true owner=owner editable=editable}}
	</div>
	</div>
</div>