<section class="pbta-chat-card" data-actor-id="{{actor._id}}" {{#if item}}data-item-id="{{item._id}}"{{/if}} {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <div class="cell cell--chat">
    <div class="chat-title row flexrow">
      {{#if image}}<img class="item-icon" src="{{image}}" alt="{{title}}"/>{{/if}}
      <h2 class="cell__title">{{title}}</h2>
    </div>

    <div class="card-content">
      {{!-- Stat label. --}}
      {{#if stat.value includeZero=true}}
        <div class="row"><em>{{localize "PBTA.RolledStat" stat=stat.label}}{{#if stat.value includeZero=true}} ({{numberFormat stat.value decimals=0 sign=true}}){{/if}}</em></div>
      {{/if}}
      {{#if originalMod includeZero=true}}
        <div class="row"><em>{{localize "PBTA.RollFormulaHardCap" value=(numberFormat originalMod decimals=0 sign=true)}}</em></div>
      {{/if}}

      {{!-- Flavor, trigger, and details. --}}
      {{#if flavor}}<div class="row"><em>{{flavor}}</em></div>{{/if}}
      {{#if details}}<div class="row">{{{details}}}</div>{{/if}}
    </div>
    {{!-- Result type label. --}}
    {{#if resultLabel}}
      <div class="row result{{#if result}} {{result}}{{/if}}">
        <div class="result-label">{{resultLabel}}</div>
        <div class="result-details">{{{resultDetails}}}</div>
        <div class="result-choices">{{{choices}}}</div>
      </div>
      <div class="card-buttons">
        <button data-action="shiftUp">
          {{localize "PBTA.ChatMessage.ShiftUp" }}
        </button>
        <button data-action="shiftDown">
          {{localize "PBTA.ChatMessage.ShiftDown" }}
        </button>
      </div>
    {{/if}}

    {{#unless noRoll}}
    {{!-- Roll results, color coded to match the result type label. --}}
    <div class="dice-roll">
      {{#if flavor}}
      <div class="dice-flavor">{{flavor}}</div>
      {{/if}}
      <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
      </div>
    </div>
    {{/unless}}

    {{!-- Conditions --}}
    {{#if conditions}}
      <div class="row row--border conditions">
        <h3 class="cell__subtitle">{{localize "PBTA.ConditionsApplied"}}</h3>
        <ul>
        {{#each conditions as |condition key|}}
          <li>{{condition}}</li>
        {{/each}}
        </ul>
      </div>
    {{/if}}

    {{!-- Tags --}}
    {{#if tags}}
      <div class="row row--border">
        {{{pbtaTags tags}}}
      </div>
    {{/if}}
  </div>
</section>