<section class="pbta-chat-card">
  <div class="cell cell--chat">
    <div class="chat-title row flexrow">
      {{#if image}}<img class="item-icon" src="{{image}}" alt="{{title}}"/>{{/if}}
      <h2 class="cell__title">{{title}}</h2>
    </div>
    {{!-- Stat label. --}}
    {{#if stat}}
      <div class="row"><em>{{stat}}{{#if statMod}} ({{numberFormat statMod decimals=0 sign=true}}){{/if}}</em></div>
    {{/if}}
    {{#if originalMod includeZero=true}}
      <div class="row"><em>{{localize "PBTA.RollFOrmulaHardCap" value=(numberFormat originalMod decimals=0 sign=true)}}</em></div>
    {{/if}}
    {{!-- Flavor, trigger, and details. --}}
    {{#if flavor}}<div class="row"><em>{{flavor}}</em></div>{{/if}}
    {{#if trigger}}<div class="row"><strong>Trigger:</strong> {{trigger}}</div>{{/if}}
    {{#if details}}<div class="row">{{{details}}}</div>{{/if}}
    {{!-- Result type label. --}}
    {{#if resultLabel}}
      <div class="row result{{#if result}} {{result}}{{/if}}">
        <div class="result-label">{{resultLabel}}</div>
        {{#if resultDetails}}
          <div class="result-details">{{{resultDetails}}}</div>
        {{/if}}
        {{#if choices}}
          <div class="result-choices">{{{choices}}}</div>
        {{/if}}
      </div>
    {{/if}}
    {{!-- Roll results, color coded to match the result type label. --}}
    {{#if rollPbta}}<div class="roll{{#if result}} {{result}}{{/if}}">{{{rollPbta}}}</div>{{/if}}
    {{!-- Conditions --}}
    {{#if conditions}}
      <div class="row row--border conditions">
        <h3 class="cell__subtitle">{{localize "PBTA.ConditionsApplied"}}</h3>
        <ul>
        {{#each conditions as |condition key|}}
          <li>{{condition}}</li>
        {{/each}}
        </ul>
      </div>
    {{/if}}
    {{!-- Tags --}}
    {{#if tags}}
      <div class="row row--border">
        {{{pbtaTags tags}}}
      </div>
    {{/if}}
  </div>
</section>