@import 'init';

// Base styles.
@import 'global/base/grid';
@import 'global/base/overrides';

// Tags.
@import 'global/base/tags';
@import 'global/components/sheet-config';
@import 'global/components/tag-config';

// Theme overrides.
.vtt {
  @import 'global/application/window';
  @import 'global/application/chat';
  @import 'global/application/sidebar';
  @import 'global/components/combat';
}

.pbta {
  font-family: $font-stack-base;

  &.sheet {
    &.actor {
      min-height: 620px;
      min-width: 650px;

      &.npc {
        min-height: 500px;
        min-width: 580px;
      }
    }

    &.item {
      min-height: 400px;
      min-width: 450px;
    }

    // Generic.
    @import 'global/base/input';
    @import 'global/base/sheet-wrapper';
    @import 'global/base/cell';
    @import 'global/components/tabs';
    // Specific.
    // @import 'global/components/sheet';
    @import 'global/components/item-form';
    // @import 'global/components/tags';
    @import 'global/components/header';
    @import 'global/components/attributes';
    @import 'global/components/stats';
    @import 'global/components/biography';
    @import 'global/components/moves';
    // @import 'global/components/look';
    @import 'global/components/npc';
    // @import 'global/components/pbta-level-up';
    @import 'global/components/playbook';
  }
}

.dialog {
  @import 'global/base/cell';
}