.actors-sidebar {
  .directory-item.actor {
    a.entry-name.ellipsis {
      line-height: normal;
    }

    .actor-level {
      font-size: x-small;
      color: var(--color-text-secondary);
    }
  }
}