.input,
.input--title {
  font-weight: bold;
  font-size: var(--font-size-18);
  font-family: $font-stack-secondary;
}

label,
h1,
h2 {
  font-family: $font-stack-secondary;
  font-weight: bold;
  border-color: inherit;
}

h3,
h4,
h5,
h6 {
  // font-family: $font-stack-base;
  font-weight: bold;
}