.sheet-wrapper {
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;

  .tox-edit-area {
    min-height: 170px;
  }

  .sheet-header {
    column-gap: 10px;
    max-height: 80px;
    min-height: 50px;

    .cell--image {
      flex: 0 0 80px;
    }

    input {
      &::placeholder {
        color: $c-navy-top;
      }
    }
  }

  .sheet-notifications {
    .error,
    .warning {
      margin-bottom: 10px;
    }
  }

  .sheet-top {
    .sheet-attributes {
      flex-wrap: nowrap;
      align-items: center;

      .cell--image {
        flex: 0 0 158px;
      }
    }

    .sheet-attributes-top {
      border: 2px solid $ct-gray;
      border-left: 0;
      border-right: 0;
      padding: 10px 0;
      margin: 10px 0;

      &:empty {
        border-top: 0;
        padding: 0;
      }

      .cell--attributes-top {
        column-gap: 16px;

        .cell {
          position: relative;
          flex: 1;
        }

        > .cell + .cell {
          &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: -9px;
            bottom: 0;
            width: 2px;
            background: $ct-gray;
            padding-right: 0;
          }
        }
      }
    }
  }

  .sheet-bottom {
    column-gap: 16px;
    margin-bottom: 16px;

    .sheet-look {
      width: auto;
      // max-width: 100%;
      height: 100%;
      position: relative;

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: -9px;
        bottom: 0;
        width: 2px;
        background: $ct-gray;
      }
    }

    .sheet-main {
      flex: 3;
      width: auto;
      height: 100%;
      align-items: stretch;

      .sheet-tabs.tabs {
        max-height: 37px;
      }

      .sheet-body {
        height: 100%;

        .tab {
          &.equipment {
            .sheet-notifications {
              margin-top:10px;
            }
          }
        }
      }
    }

    .cell--bio {
      height: 100%;

      .editor {
        height: 100%;
        min-height: 30px;
      }
    }
  }

  .cell--LongText {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 60px;

    .cell__title {
      flex: 0;
    }

    .editor,
    .editor-content {
      flex: 1;
      min-height: 30px;
    }

    .tox-tinymce,
    .tox-editor-container,
    .tox-sidebar-wrap,
    .tox-edit-area {
      min-height: 170px;
      height: 100% !important;
    }

    .tox-tinymce {
      height: 100% !important;

      .tox-toolbar-overlord,
      .tox-toolbar__primary {
        background: transparent;
        border-bottom: 1px solid $c-black;
      }

      button[title="Formats"],
      button[title="Table"],
      button[title="Horizontal line"],
      button[title="Insert/edit link"] {
        display: none;
      }
    }
  }

  .editor-content {
    background: rgba(0, 0, 0, 0.075);
    padding: 0 4px;
    border-radius: 4px;
    height: 100%;
  }

  .sheet-body {
    .tab,
    .sheet-tab {
      height: 100%;
    }
  }
}