<form class="{{cssClass}} item-form flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PBTA.Common.Name"}}"/></h1>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "PBTA.Common.Description" }}</a>
    <a class="item" data-tab="details">{{localize "PBTA.Common.Details" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>

      {{!-- Details Tab --}}
      {{log data}}
      <div class="tab" data-group="primary" data-tab="details">
        <div class="resource">
          <label>{{localize "PBTA.Roll"}}</label>
          <select name="data.rollType" data-dtype="String">
            {{#select data.rollType}}
              <option value="">—</option>
              {{#if data.stats}}
                {{#each data.stats as |stat key|}}
                  <option value="{{key}}">{{stat}}</option>
                {{/each}}
              {{/if}}
            {{/select}}
          </select>
        </div>

        <div class="resource">
          <label>{{localize "PBTA.Modifier"}}</label>
          <input type="text" name="data.rollMod" value="{{data.rollMod}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label>{{localize "PBTA.Playbook"}}</label>
          <select name="data.playbook">
            {{#select data.playbook}}
              <option value="">—</option>
              {{#each data.playbooks as |playbook id|}}
              <option value="{{playbook}}">{{playbook}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="resource">
          <label>{{localize "PBTA.MoveType"}}</label>
          <select name="data.moveType" data-dtype="String">
            {{#select data.moveType}}
            <option value="">—</option>
            <option value="basic">{{localize "PBTA.MoveBasic"}}</option>
            <option value="starting">{{localize "PBTA.MoveStarting"}}</option>
            <option value="advanced">{{localize "PBTA.MoveAdvanced"}}</option>
            <option value="special">{{localize "PBTA.MoveSpecial"}}</option>
            {{/select}}
          </select>
        </div>

        <div class="resource">
          <label>{{localize "PBTA.RequiresMove"}}</label>
          <input type="text" name="data.requiresMove" value="{{data.requiresMove}}" data-dtype="String"/>
        </div>

        <div class="resource">
          <label>{{localize "PBTA.MoveGroup"}}</label>
          <input type="text" name="data.moveGroup" value="{{data.moveGroup}}" placeholder="ex: barbarian-armor" data-dtype="String"/>
          <span class="help-text">{{localize "PBTA.MoveGroupHelp"}}</span>
        </div>

      </div>
  </section>
</form>
